/* ----- 1.2 FONTS ----- */
/* BODY */
body,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
}

/* HEADING 1 */
h1,
.entry-title {
  font-family: 'Poppins', sans-serif;
}

/* HEADINGS */
h2,
h3,
h4,
h5,
h6,
.filters,
.nav-menu,
.card-nav,
th,
dt,
.button,
.catlinks a,
input[type=submit],
button,
label,
.tab-titles,
a.more-link,
blockquote {
  font-family: 'Roboto';
}

/* FONTELLO ICONS */
.social-link,
.menu-with-icons a:before,
.toggle h4:before,
.mask,
.site-alert:before,
.portfolio-nav a:before,
.hentry .entry-header:before,
.gallery-item a:after  {
  font-family:fontello; font-style:normal; font-weight:400; speak:none; display:inline-block; text-decoration:inherit; text-align:center; font-variant:normal; text-transform:none;
}
