

/*  --------------------------------------------

	2. FORMS (@forms) - form elements

    -------------------------------------------- */
fieldset {
  border: 0; margin: 0; padding: 0;
}
form p {
  position: relative; margin: 1.6em 0;
}
label {
  display: block; font-size: 10px; letter-spacing: 1px; font-weight: 700; margin-bottom: 0.6em; text-transform: uppercase;
}
::-webkit-input-placeholder {
  color: inherit; font-size: 10px; letter-spacing: 1px; font-weight: 700; text-transform: uppercase;
}
::-moz-placeholder {
  color: inherit; font-size: 10px; letter-spacing: 1px; font-weight: 700; text-transform: uppercase;
}
:-ms-input-placeholder {
  color: inherit; font-size: 10px; letter-spacing: 1px; font-weight: 700; text-transform: uppercase;
}
label input {
  font-weight: 400;
}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
textarea,
select {
  padding: 1em 0; width: 100%; font-size: .925rem; border: 0; border-bottom: 2px solid rgba(0, 0, 0, 0.07); border-radius: 0; background-color: transparent; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; box-sizing: border-box;
}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):hover,
textarea:hover,
input:hover,
select:hover {
  outline: 0;
}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
textarea:focus,
input:focus,
select:focus {
  border-color: #4ECE99; outline: 0;
}
textarea {
  min-height: 7em; line-height: 1.6; resize: vertical;
}
select {
  padding: .8em 0; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAZJJREFUaIHt1r9LVWEYB/DPVTEpgqRBaEhocmiyoc2lrZbG+gts8z8I5xykRfwxROBiEBENSdAmQZMKTldwUHAJAltEBG2453Beg7zXe99zXZ4PHC7nx/s833O5931fQgghhBBCCDUbxCqe9qHXc7zDQM6iizjHMaZyFv7HE5wUvRY6GdDpW+4XnyP4gskrR2vvMT5juDg/yFm8gTmtb+YcvzCRsf5D/E7qvyl6ZtXAStLkAOMZ6j7AYVJ3WQ3hS4P4kDTbxVgP9e5hL6m3VvSo1TDWk6bbGO2izl3sJHW+qn7/tbuFjaT5j+Jap27jZzJ+AzczZ2zrDraSEN9wo4NxI/iejNssal2LMTSTMB8xdMnzQ/iUPN/U238oi3GtGakM9b9VdADvXZzF7vcpY1sTWmtDGW7examwgbfJ/dzrSBaP8EcV8nVybza5fqSelTyLKa39Uhl2pjjK87r3Ulk8w6kqdHmc6s9uNouXOFOFP8OLa03UhVeqF5iuq8llc3avFlUL1FKNfUIIIYQQQgjd+QvyJ2oyQcCnYgAAAABJRU5ErkJggg==); background-position: 97% center; background-position: right 10px center; background-repeat: no-repeat; background-size: 20px 20px;
}
select::-ms-expand {
  display: none;
}
input[type=file]{
  width: 100%; outline: 0; cursor: pointer; font-size: 13px;
}
input[type=file]::-webkit-file-upload-button {
  display: inline-block; padding: .7em 1em; outline: 0; color: inherit; background-color: transparent; border: 2px solid rgba(0, 0, 0, 0.07); cursor: pointer;
}
input[type=checkbox] {
  -webkit-appearance: none; height: 1em; position: relative; background-color: transparent; border: 2px solid #333; width: 1em; border-radius: 3px; outline: none;  font-size: 15px; vertical-align: text-bottom; margin-right: .6em;
}
input[type=checkbox]:active {
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.2) inset;
}
input[type=checkbox]:before,
input[type=checkbox]:after {
  content: ''; background-color: inherit; position: absolute; transition: 0.1s background-color;
}
input[type=checkbox]:after {
  width: 0.14em; height: 0.60em; -webkit-transform: rotate(36deg) translate(0.42em, -0.17em);
}
input[type=checkbox]:before {
  width: 0.14em; height: 0.35em; -webkit-transform: rotate(-58deg) translate(-0.2em, 0.35em);
}
input[type=checkbox]:checked:after,
input[type=checkbox]:checked:before {
  background-color: #333;
}
input[type=radio] {
  -webkit-appearance: none; height: 1em; position: relative; background-color: #fff; border: 2px solid #333; width: 1em; border-radius: 50%; outline: none; font-size: 15px; margin-right: .6em; vertical-align: text-bottom;
}
input[type=radio]:checked:before {
  content: ''; background-color: #333; position: absolute; border-radius: 50%; top: 3px; left: 3px; bottom: 3px; right: 3px;
}
.inline-label {
  display: inline-block; margin-right: 2.2em;
}
/* validation  */
label.error {
  position: absolute; bottom: -30px; left: 0; min-width: 160px; font-size: 10px; font-weight: 400; text-transform: uppercase; padding: .2em .8em; background-color: #ef6565; color: #fff; letter-spacing: .07em;
}
label.error:after {
  content: " "; position: absolute; left: 1.6em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 8px solid #ef6565; border-right: 8px solid transparent;
}


