/* ALERTS */
.alert {
  position: relative; padding: 1.2em 2em; font-size: 13px; letter-spacing: .04em; line-height: 1.4; margin-bottom: 2em; border: 2px solid #f6f4cd;
}
.alert.success {
  border-color: #b1e9c3;
}
.alert.error {
  border-color: #f8c2b7;
}
