
/* FUN FACT */
.fun-fact {
  margin-bottom: 1.4em; text-align: center;
}
.fun-fact i {
  display: inline-block; margin-bottom: 18px; line-height: 1; font-size: 56px;
}
.fun-fact i:before {
  margin: 0 .2em; display: inline-block;
}
html .fun-fact img {
  width: 100%; max-width: 54px; margin: 0; margin-bottom: 14px;
}
.fun-fact h4 {
  max-width: 140px; margin: 0 auto; font-size: 13px; line-height: 1.4; font-weight: 300; letter-spacing: .02em; text-transform: uppercase;
}