
/* PROCESS */
.process {
  position: relative; text-align: center; width: 80px; height: 80px; padding: 10px; margin: 0 auto 1.6em; border-radius: 50%; background: #fff;
}
.process:after {
  content: ""; position:absolute; top: 50%; left: 100%; width: 120%; height: 0; border-bottom: 1px dashed #DADADA;
}
.process i {
  font-size: 42px; line-height: 1;
}
html .process img {
  width: 100%; max-width: 80%; margin: 0 auto;
}
.process h4 {
  margin: 16px 0 0; font-size: 11px; font-weight: 300; letter-spacing: .08em; text-transform: uppercase;
}
.row [class^="col-"]:nth-child(3n) .process:after,
.elementor-column:nth-child(3n) .process:after {
  display: none;
}
.row > div:first-child .process,
.elementor-column:first-child .process {
  background: #F7F9E5;
}
.row > div:first-child .process i,
.row > div:last-child .process i,
.elementor-column:first-child .process i,
.elementor-column:last-child .process i {
  font-size: 72px; margin-top: -26px;
}
.row > div:first-child .process img,
.row > div:last-child .process img,
.elementor-column:first-child .process img,
.elementor-column:last-child .process img {
  width: 120%; margin-left: -10%; max-width: none; margin-top: -26px;
}
.row > div:last-child .process,
.elementor-column:last-child .process {
  background: #d6f8e0;
}
