
/* SERVICE */
.service {
  padding: 0.2em 0;
}
.service i,
.service img {
  display: inline-block; float: left; width: 50px; margin: 0; line-height: 50px; font-size: 40px; text-align: center;
}
.service i:before {
  margin: 0 .2em; display: inline-block;
}
.service p {
  margin-top: .2em; margin-left: 68px; margin-bottom: 0; opacity: .5;
}
.service h4 {
  margin-top: 0; margin-left: 68px; margin-bottom: .3em; font-size: 12px; font-weight: 400; letter-spacing: .08em; text-transform: uppercase;
}