/* ONE PAGE LAYOUT */
.cover {
  position: relative; overflow: hidden;
}
/* card image mask */
.cover:after,
.card-3d-right-side:after,
.card-3d-bottom-side:after,
.header:before {
  content: ""; position: absolute; z-index: 5; top: 0; left: 0; right: 0; bottom: 0; background: #0d3d6d; opacity: .2;
}



/* Card Nav */
.card-nav {
  position: absolute; bottom: 20px; left: 20px; z-index: 70;
}
.card-nav ul {
  padding: 0; margin: 0; list-style: none;
}
.card-nav ul li {
  display: inline-block; margin: 0 4px; text-align: center;
  transform: scale(.7); opacity: 0; visibility: hidden; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease;
}
.is-card-opened .card-nav ul li {
  opacity: 1; transform: scale(1); visibility: visible;
}
.is-card-opened .card-nav ul li:nth-child(1) {
  transition-delay: .5s;
}
.is-card-opened .card-nav ul li:nth-child(2) {
  transition-delay: .6s;
}
.is-card-opened .card-nav ul li:nth-child(3) {
  transition-delay: .7s;
}
.is-card-opened .card-nav ul li:nth-child(4) {
  transition-delay: .8s;
}
.is-card-opened .card-nav ul li:nth-child(5) {
  transition-delay: .9s;
}
.is-card-opened .card-nav ul li:nth-child(6) {
  transition-delay: 1.0s;
}
.is-card-opened .card-nav ul li:nth-child(7) {
  transition-delay: 1.1s;
}
.card-nav ul li a {
  position: relative;	transition: color 0.7s; display: block; font-weight: 400; color: #fff; text-transform: uppercase; font-size: 10px; letter-spacing: 1px;
}
.card-nav ul li i {
  display: block; font-size: 24px;
}
.card-nav li.current_page_item a {
  color: #FAFF32;
}

/* menu click ripple animation */
.card-nav a::after {
  content: ''; position: absolute; top: 50%; left: 50%; margin: -50px 0 0 -40px; width: 80px; height: 80px; border-radius: 50%; opacity: 0; pointer-events: none; box-shadow: inset 0 0 0 35px rgba(255, 255, 255, 0.1);
}
.current_page_item a::after {
  animation: anim-effect-ripple 0.6s ease-out forwards;
}

@keyframes anim-effect-ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1);
  }
  80% {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
    opacity: 0.1;
  }
  100% {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

/* Card Info */
.card-info {
  position: absolute; top: 30px; left: 40px; right: 40px; max-width: 350px; z-index: 60; transition: all 0.1s ease-out;
}
.card-info h2 {
  display: inline-block; font-size: 11px; text-transform: uppercase; letter-spacing: 3px; border-radius: 32px; font-weight: 400; padding: 6px 12px; margin: 0 0 0 -10px; color: #fff; background: #1755cf;
}
.card-info h3 {
  font-size: 12px; font-weight: 300; padding: 0; color: #fff; text-transform: uppercase; letter-spacing: 3px;
}
.card-info h4 {
  font-size: 11px; font-weight: 300; padding: 0; color: #fff; text-transform: uppercase; letter-spacing: 3px;
}
.card-info .card-desc {
  margin-top: 1.4em; font-size: 17px; font-weight: 300; padding: 0; color: rgba(255, 255, 255, 0.7);
}
/* Elementor Fixes */
.card-info .card-desc .elementor-widget-text-editor {
  color: rgba(255, 255, 255, 0.7);
}
.card-intro .elementor-element-populated,
.card-info .elementor-element-populated  {
  padding: 0 !important;
}
.card-intro .elementor-widget-text-editor {
  color: inherit;
}

.card-info h2,
.card-info h3,
.card-info .card-desc {
  opacity: 0; transform: translateX(-20px);
  -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease;
}
.is-card-opened .card-info h2,
.is-card-opened .card-info h3 {
  opacity: 1; transform: translateX(0px);
}
.is-card-opened .card-info h3 {
  transition-delay: .3s;
}

.card-content {
  padding: 20px; background-color: #fff; position: relative; display: none;
}
.is-ajax-page-active .card-content {
  display: block;
}
.card-content:not(.is-loaded) {
  background-image: url(../images/bckg/loading.svg); background-position: center 50px; background-repeat: no-repeat; background-size: 48px 48px;
}
.card-content .page {
  padding: 0; margin: 0;
}


/* ANIMATED ITEMS */
.card-content .entry-header,
.card-content .entry-content > * {
  opacity: 0;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}
.card-content.is-loaded .entry-header,
.card-content.is-loaded .entry-content > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);;
  transform: translateY(0);
}

/* animate out */
.card-content .hentry > .entry-header {
  -webkit-transition: -webkit-transform 0.2s 0.3s, opacity 0.2s 0.3s;
  transition: transform 0.2s 0.3s, opacity 0.2s 0.3s;
}
.card-content .entry-content > *:nth-child(1) {
  -webkit-transition: -webkit-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
}
.card-content .entry-content > *:nth-child(2) {
  -webkit-transition: -webkit-transform 0.2s 0.1s, opacity 0.2s 0.1s;
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s;
}
.card-content .entry-content > *:nth-child(n+3) {
  -webkit-transition: -webkit-transform 0.2s 0s, opacity 0.2s 0s;
  transition: transform 0.2s 0s, opacity 0.2s 0s;
}

/* animate in */
.card-content.is-loaded .entry-content > *:nth-child(1) {
  -webkit-transition: -webkit-transform 0.2s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.2s 0.5s, opacity 0.2s 0.5s;
}
.card-content.is-loaded .entry-content > *:nth-child(2) {
  -webkit-transition: -webkit-transform 0.2s 0.7s, opacity 0.2s 0.7s;
  transition: transform 0.2s 0.7s, opacity 0.2s 0.7s;
}
.card-content.is-loaded .entry-content > *:nth-child(n+3) {
  -webkit-transition: -webkit-transform 0.2s 0.8s, opacity 0.2s 0.8s;
  transition: transform 0.2s 0.8s, opacity 0.2s 0.8s;
}




/* MOBILE ONLY STYLES */
@media screen and (max-width: 991px) {

  #card-open {
    display: none;
  }

  .card-intro {
    display: none;
  }

  .cover-media {
    padding: 0; height: 100vh;
  }
  .is-ajax-page-active .cover-media {
    padding: 0; height: 66vw !important;
  }

  /* MENU */
  .is-card-loaded .card-nav ul li {
    opacity: 1; transform: scale(1); visibility: visible;
  }
  .is-card-loaded .card-nav ul li:nth-child(1) {
    transition-delay: .5s;
  }
  .is-card-loaded .card-nav ul li:nth-child(2) {
    transition-delay: .6s;
  }
  .is-card-loaded .card-nav ul li:nth-child(3) {
    transition-delay: .7s;
  }
  .is-card-loaded .card-nav ul li:nth-child(4) {
    transition-delay: .8s;
  }
  .is-card-loaded .card-nav ul li:nth-child(5) {
    transition-delay: .9s;
  }
  .is-card-loaded .card-nav ul li:nth-child(6) {
    transition-delay: 1.0s;
  }
  .is-card-loaded .card-nav ul li:nth-child(7) {
    transition-delay: 1.1s;
  }

  /* CARD INFO */
  .is-card-loaded .card-info h2,
  .is-card-loaded .card-info h3,
  .is-card-loaded .card-info .card-desc {
    opacity: 1; transform: translateX(0px);
  }
  .is-card-loaded .card-info h3 {
    transition-delay: .3s;
  }
  .is-card-loaded .card-info .card-desc {
    transition-delay: .5s;
  }
  .is-ajax-page-active .card-info .card-desc {
    opacity: 0; transition-delay: 0s; z-index: -1;
  }
}

/* TABLET ONLY STYLES */
@media screen and (min-width: 700px) and (max-width: 991px) {

  .card-nav {
    transition: all 0.6s;
  }
  html.one-page-layout:not(.is-ajax-page-active) .card-nav {
    bottom: 40px;
  }
  .is-ajax-page-active .cover-media {
    padding: 0; height: 55vw !important;
  }

}


/* OLD MOBILE DEVICES */
@media screen and (max-width: 320px), screen and (max-height: 320px) {
  .card-info {
    left: 20px; top: 20px;
  }
  .card-nav {
    left: 10px;
  }
  .card-nav ul li i {
    font-size: 20px;
  }
}

/* MOBILE LANDSCAPE */
@media screen and (max-width: 991px) and (max-height: 500px) {

  .is-ajax-page-active .cover-media {
    height: 30vw !important;
  }
}
