/* ----- 4.2 FOOTER ----- */
.site-footer {
  position: relative; width: 100%; clear: left; border-top: 1px solid #eee;
}
.site-footer .site-info {
  max-width: 960px; margin-left: auto; margin-right: auto; padding: 22px 0; text-align: center; font-size: 13px; letter-spacing: .05em; text-transform: uppercase;
}
.site-footer .site-info a {
  color: inherit;
}
