/* NAV MENU */
.nav-menu ul {
  padding: 0; margin: 0; list-style: none; text-align: center;
}
.nav-menu ul li {
  display: inline-block; font-size: 11px; text-transform: uppercase;
}
.nav-menu a {
  display: block; padding: 5px 8px; color: #fff; position: relative; letter-spacing: .12em;
}
.nav-menu a:hover {
  color: #fff; opacity: .8;
}
.nav-menu:not(.menu-with-icons) ul {
  margin: 1.6em 0 0;
}
.nav-menu:not(.menu-with-icons) ul a {
  padding: .5em;
}