/* SEARCH */
.header-search {
  padding: 0; max-height: 0; overflow: hidden; will-change: max-height; transition: max-height 0.3s ease-out;
}
.is-search-toggled-on .header-search {
  max-height: 100px; overflow: hidden;
}
.search-toggle {
  cursor: pointer;
}
.search-toggle i:before {
  display: inline-block; font-size: 1.8em;
}
.is-search-toggled-on .search-toggle {
  opacity: .5 !important;
}
#search-form {
  position:relative;
}
#search-form #search {
  outline: 0; font-size: 16px; letter-spacing: 1px; color: #fff; font-weight: 400; padding: 1em .4em; max-width: none; text-align: center; border: 0;
}
#search-form #search:focus {
  border: 0;
}
#search-form #search::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5); font-size: inherit; text-transform: none; font-weight: inherit; letter-spacing: inherit;
}
#search-submit {
  font-size: 17px; text-shadow: none; color: #fff; border:0; outline:0; padding:0; width: 32px; line-height: 2.6em; background: #4ECE99; border-radius: 0; font-weight: 400; margin-bottom: 0; vertical-align: middle; display: none;
}
#search-submit:hover {
  opacity: .9;
}
#search-submit:active {
  opacity: .8;
}
